---
import Layout from "@layouts/Layout.astro";
---

<Layout title="Das Bin Ich. Frederick">
  <p>
    Wer das liest, kennt mich wahrscheinlich bereits. Für die die es nicht tun:
    Ich bin im Moment 17 Jahre alt, Schüler im Abiturjahrgang des
    Eckener-Gymnasiums und programmiere in meiner Freizeit gerne. Projekte, die
    ich im Informatik-Leistungskurs, oder zuhause angefertigt habe, sind unter <a
      href="/projekte">Projekte</a
    > vermerkt.
  </p>
</Layout>
