---
import Layout from "@layouts/Layout.astro";
---

<Layout title="Ich">
  <h1 slot="title" class="title">
    <span class="name"
      ><span class="first">Frederick</span><br /><span class="last"
        >Bläsing</span
      ></span
    >
    <div id="waving">👋</div>
  </h1>
  <p>
    Hallo! Ich bin 17 Jahre alt, Schüler im Abiturjahrgang des
    Eckener-Gymnasiums und programmiere in meiner Freizeit gerne. Im
    Informatik-Leistungskurs und zu Hause sind so bereits zahlreiche <a
      href="/projekte">Projekte</a
    > entstanden. Noch Fragen? Nimm gerne <a href="/kontakt">Kontakt</a> mit mir
    auf!
  </p>
</Layout>

<style>
  .title {
    position: relative;
  }
  .name > .first {
    font-size: 0.8em;
    font-weight: 200;
    color: rgb(var(--color-text));
  }
  #waving {
    font-size: min(2em, calc(-1em + 40vw));
    position: absolute;
    right: 0px;
    bottom: max(-0.5em, calc(-16rem + 1em));
    animation: 1s waving ease-in-out;
  }
  @keyframes waving {
    25% {
      transform: rotateZ(-10deg);
    }

    50% {
      transform: rotateZ(7deg);
    }

    75% {
      transform: rotateZ(-5deg);
    }
  }
</style>

<script>
  const waving = document.getElementById("waving") as HTMLDivElement;
  let animating = true;
  function animate() {
    if (animating) return;
    waving.style.animation = "none";
    waving.offsetHeight;
    waving.style.animation = null!;
    animating = true;
  }
  waving.addEventListener("animationend", () => {
    animating = false;
  });
  waving.addEventListener("mouseenter", animate);
</script>
