---
import Layout from "@layouts/Layout.astro";
import Obfuscated from "@components/Obfuscated.astro";
---

<Layout title="Kontakt">
  <dl>
    <dt>E-Mail</dt><dd><Obfuscated value="hey@blaes.ing" /></dd>
    <dt>GitHub</dt><dd><a href="https://github.com/fr-bl">@fr-bl</a></dd>
  </dl>
</Layout>
