---
import Layout from "@layouts/Layout.astro";
---

<Layout title="Projekte">
  <h2>Portfolio</h2>
  <p>
    Dieses Portfolio dient dazu, mich im Internet zu präsentieren. Hier können
    meine Projekte und <a href="/folien">Schulpräsentationen</a> entdeckt werden.
  </p>
  <h2>Fooorum</h2>
  <p>
    Das <a href="https://fooorum.vercel.app">Fooorum</a> ist ein simples, aber interaktives
    Internetforum. In der Bedienung ist es ähnlich zu Platformen wie Reddit, ist
    strukturell jedoch stark vereinfacht. Dieses Projekt ist eine Zusammenarbeit
    von Jan und mir im Informatik-Leistungskurs und umfängt zusätzlich eine Präsentation,
    die auf der Webseite verlinkt ist.
  </p>
  <h2>Gurkenparty</h2>
  <p>
    Die <a href="https://gurken.party">Gurkenparty</a> ist ein Freizeitprojekt von
    Sean, Max und mir. Dort veröffentlichen wir Informationen über unsere Gruppe
    und eine imaginäre Gurkenrepublik.
  </p>
</Layout>
