---
import Layout from "@layouts/Layout.astro";
---

<Layout title="Projekte">
  <p>
    Derzeitig sind keine Information 端ber meine Projekte verf端gbar. Ich werde
    sie in K端rze hinzuf端gen und hier darstellen.
  </p>
</Layout>
