---
import Layout from "@layouts/Layout.astro";
---

<Layout title="Projekte">
  <h2>Webseite</h2>
  <p>
    Diese Webseite ist mein bisher neuestes Projekt, und dient dazu, mich und
    meine Projekte sichtbarer im Internet zu machen. Das Design ist an das alter
    Printmedien angelehnt.
  </p>
  <h2>Fooorum</h2>
  <p>
    Das <a href="https://fooorum.vercel.app">Fooorum</a> ist ein simples, aber interaktives
    Internetforum. In der Bedienung ist es ähnlich zu Platformen wie Reddit, ist
    strukturell jedoch stark vereinfacht. Dieses Projekt ist eine Zusammenarbeit
    von Jan und mir im Informatik-Leistungskurs und umfängt zusätzlich eine Präsentation,
    die auf der Webseite verlinkt ist.
  </p>
  <h2>Gurkenparty</h2>
  <p>
    Die <a href="https://gurken.party">Gurken Party</a> ist ein Freizeitprojekt von
    Sean, Max und mir. Dort veröffentlichen wir Informationen über unsere Gruppe
    und eine imaginäre Gurkenrepublik.
  </p>
  <h2>Folien</h2>
  <p>
    Auch einige meiner <a href="https://slides.blaes.ing">Schulpräsentationen</a
    > sind öffentlich einsehbar. Meine Schwerpunkte lagen in der Sorgfalt der Recherche
    und einem intuitiven Design, welches auch den Stil dieser Webseite insiprierte.
  </p>
</Layout>
