---

---

<footer>
  <div class="content">© Frederick 2024</div>
</footer>

<style>
  footer {
    position: sticky;
    bottom: 0em;

    background: #eed;
    font-size: 1.3em;
    padding: var(--size-padding);
    text-align: center;
  }
  .content {
    max-width: var(--size-content-width);
    margin: 0px auto;
  }
</style>
