---

---

<footer>
  <div class="content">© Frederick Bläsing 2024</div>
</footer>

<style>
  footer {
    font-family: var(--font-family-layout);
    font-weight: var(--weight-light);
    padding: var(--size-padding-layout);
    text-align: center;
  }
  .content {
    max-width: var(--size-content-width);
    margin: 0px auto;
  }
</style>
