---

---

<header>
  <div class="content">
  <nav aria-label="subpages">
    <a href="/">Ich</a>
    <a href="/projekte">Projekte</a>
  </nav>
  <nav aria-label="contact">
    <a href="/kontakt">Kontakt</a>
    </nav>
  </div>
</header>

<style>
  header {
    font-size: 1.3em;
    font-family: var(--font-family-layout);
    padding: var(--size-padding);
  }
  .content {
    max-width: var(--size-content-width);
    margin: 0px auto;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: var(--size-gap);
  }
  nav {
    display: flex;
    align-items: center;
    gap: var(--size-gap);
  }
</style>
