---

---

<header>
  <div class="content">
    <nav aria-label="subpages">
      <a href="/">Ich</a>
      <a href="/projekte">Projekte</a>
      <a href="/folien">Folien</a>
    </nav>
    <nav aria-label="contact">
      <a href="/kontakt">Kontakt</a>
    </nav>
  </div>
</header>

<style>
  header {
    font-family: var(--font-family-layout);
    padding: var(--size-padding-layout);
  }
  .content {
    max-width: var(--size-content-width);
    margin: 0px auto;

    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: max(1ch, min(var(--size-gap), calc(10vw - 1.2em)));
  }
  nav {
    display: flex;
    align-items: center;
    gap: max(1ch, min(var(--size-gap), calc(10vw - 1.2em)));
  }
</style>
