---

---

<header>
  <nav>
    <a href="/">~</a>
    <a href="/projekte">Projekte</a>
    <a href="/kontakt">Kontakt</a>
  </nav>
</header>

<style>
  header {
    font-size: 1.3em;
    font-family: var(--font-family-layout);
    padding: var(--size-padding);
  }
  nav {
    max-width: var(--size-content-width);
    margin: 0px auto;

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: var(--size-gap);
  }
</style>
