---

---

<header>
  <nav>
    <a href="/">Frederick</a>
    <a href="/projekte">Projekte</a>
    <a href="/kontakt">Kontakt</a>
  </nav>
</header>

<style>
  header {
    position: sticky;
    top: 0em;

    background: #eed;
    font-size: 1.3em;
    padding: var(--size-padding);
  }
  nav {
    max-width: var(--size-content-width);
    margin: 0px auto;

    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: var(--size-gap);
  }
  nav :first-child {
    margin-right: auto;
  }
</style>
