---
import { ClientRouter } from "astro:transitions";

export interface Props {
  title?: string;
  description?: string;
}

const { title = "", description = "Hallo, ich bin Frederick!" } = Astro.props;
const longTitle = `${title}${title && " - "}Frederick Bläsing`;
---

<head>
  <title>{longTitle}</title>
  <meta name="title" content={longTitle} />
  <meta name="description" content={description} />

  <meta charset="utf-8" />
  <meta name="locale" content="de_DE" />
  <meta name="viewport" content="width=device-width" />

  <ClientRouter />

  <slot />
</head>
