---
import Layout from "@layouts/Layout.astro";
---

<Layout title="Folien">
  <h2>Wie entsteht ein Gesetz?</h2>
  <p>
    <a href="/folien/gesetzgebung">Diese Folien</a> behandeln den Gesetzgebungsprozess.
    Es sind zudem <a href="/folien/gesetzgebung/notizen">Notizen</a> verfügbar.
  </p>
</Layout>
