---
import Layout from "@layouts/Layout.astro";
---

<Layout title="Folien">
  <p>
    Hier sind meine neuesten Schulpräsentationen vermerkt, welche direkt im
    Web-Browser präsentiert werden. Während der Präsentation werden
    Tastaturbefehle mit <code>?</code> angezeigt.
  </p>

  <h2>Wie entsteht ein Gesetz?</h2>
  <p>
    <a href="/folien/gesetzgebung" target="_blank">Diese Folien</a> behandeln den
    Gesetzgebungsprozess. Es sind zudem <a href="/folien/gesetzgebung/notizen"
      >Notizen</a
    > und eine <a href="/folien/gesetzgebung?print-pdf" target="_blank"
      >druckbare Version</a
    > verfügbar.
  </p>
</Layout>
